<h1>What Scrabble Score will you get?!?</h1>
<form action="/scrabblescore" method="post">
  <label for="word">Please enter your word: </label>
  <input id="word" name="word" type="text">
  <button type="submit">Score my word!</button>
</form>